html {
  background: url("./images/contactmeimg.jpeg") no-repeat center center fixed;
  font-family: "Indie Flower", cursive;
}

.App {
  font-family: "Indie Flower", cursive;
  max-width: 1440px;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main";
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}
.loader {
  text-align: center;
  color: beige;
  font-style: oblique;
  font-weight: bolder;
}
.errorhandlemain {
  /* color: red; */
  text-align: center;
  font-weight: bold;
  font-style: normal;
  /* background-color: #dae0e6; */
}
.nav {
  text-align: center;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  border-style: solid;
  border-color: gold;
}
.nav img {
  padding: 0px 0px 0px 0px;
  /* display: flex; */
  background-color: white;
  /* height: 50%;
  width: 20%; */
}
.nav img:hover {
  /* background-color: transparent; */
  color: gold;
  background-color: black;
}
.nav a {
  padding-left: 5px;
  text-decoration: none;
  padding-top: 18px;
  font-size: 120%;
  font-weight: bold;
  color: gold;
}
.nav a:hover {
  cursor: grab;
  /* background-color: black; */
}

.titleheader {
  box-sizing: border-box;

  text-align: center;
  grid-area: header;
  padding: 20px 10px;
  font-style: oblique;
  color: rgb(240, 173, 4);
}
.main {
  grid-area: main;
}
.routermain {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.usersMain {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-self: center;
  box-sizing: border-box;

  border-style: solid;
  border-color: gold;
  font-size: 20px;
  font-style: oblique;
  padding: 16px 16px;
  padding-top: 10px;
  background-color: beige;

  max-width: 80%;
  max-height: fit-content;
}
.addtopicform {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  border-style: ridge;
  border-radius: 10px;
  background-color: beige;
  box-sizing: border-box;
  border-color: gold;
  border-width: 3px;
  width: 70%;
  height: 300px;
}
.addtopicform h2 {
  font-weight: bold;
  font-style: oblique;
  font-size: large;
  color: black;
  text-align: center;
}
.addtopicform input {
  display: flex;
  align-self: center;
  width: 70%;
  height: 20px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-color: rgb(240, 173, 4);
  background: beige;
}
.addtopicform input:focus {
  border: 3px solid skyblue;
}
.addtopicform #slug {
  padding: 5px;
  margin: 5px 0 22px 0;
  font-family: "Indie Flower", cursive;
}
.addtopicform #description {
  padding: 5px;
  margin: 5px 0 22px 0;
  font-family: "Indie Flower", cursive;
}
.addtopicform button {
  display: flex;
  align-self: center;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: oblique;
  margin: 4px 2px;
  border: none;
  background-color: beige;
  color: black;
  vertical-align: middle;
  transition-duration: 0.4s;
  width: 100px;
  height: 40px;
  font-family: "Indie Flower", cursive;
}
.addtopicform button:hover {
  background-color: black;
  color: gold;
}
.addarticle {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  border-style: ridge;
  border-radius: 10px;
  background-color: beige;
  box-sizing: border-box;
  border-color: gold;
  border-width: 3px;
  width: 600px;
  height: 500px;
  font-family: "Indie Flower", cursive;
}
.addarticle h2 {
  font-weight: bold;
  font-style: oblique;
  font-size: large;
  color: black;
  text-align: center;
}
.addarticle button {
  display: flex;
  align-self: center;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-style: oblique;
  margin: 4px 2px;
  border: none;
  background-color: beige;
  color: black;
  vertical-align: middle;
  transition-duration: 0.4s;
  width: 100px;
  height: 40px;
  font-family: "Indie Flower", cursive;
}
.addarticle button:hover {
  background-color: black;
  color: gold;
}
.addarticle input {
  display: flex;
  align-self: center;
  width: 70%;
  height: 20px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-color: rgb(240, 173, 4);
  background: beige;
}
.addarticle input:focus {
  border: 3px solid skyblue;
}
.addarticle textarea {
  display: flex;
  align-self: center;
  width: 80%;
  height: 50%;
  font-family: "Indie Flower", cursive;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-color: rgb(240, 173, 4);
  background: beige;
}
.addarticle textarea:focus {
  border: 3px solid skyblue;
}
.addarticle #title {
  padding: 5px;
  margin: 5px 0 22px 0;
  font-family: "Indie Flower", cursive;
}
.addarticle #body {
  padding: 5px;
  margin: 5px 0 22px 0;
  font-family: "Indie Flower", cursive;
}
.addarticle #topic {
  font-family: "Indie Flower", cursive;
  width: 80%;
  display: flex;
  align-self: center;
}
.userdrop {
  width: 100%;
  font-style: oblique;
  font-family: "Indie Flower", cursive;
}
.sign-io-btn {
  width: 100%;
  padding: 16px 32px;
  font-size: 16px;
  font-style: oblique;
  margin: 4px 2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: beige;
  color: black;
  border: 2px solid #555555;
  font-family: "Indie Flower", cursive;
}
.sign-io-btn:hover {
  background-color: rgb(240, 173, 4);
  color: beige;
}
.signup {
  text-align: right;
  font-family: "Indie Flower", cursive;
}
.crteurinput {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-color: rgb(240, 173, 4);
  background: beige;
  font-family: "Indie Flower", cursive;
}
.crteurinput:focus {
  border: 3px solid skyblue;
}
.createbtn {
  background-color: black;

  color: rgb(240, 173, 4);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 32.3%;
  opacity: 1;
  font-family: "Indie Flower", cursive;
}
.createbtn:hover {
  opacity: 2;
}
.commentinput {
  padding-top: 10px;
  background-color: black;
  max-width: 90%;
  align-self: center;
  border-radius: 30px;
  border-style: ridge;
  border-width: 5px;
  border-color: gold;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  margin: 10px;
}
.commentinput button {
  font-size: 16px;
  font-style: oblique;
  margin: 4px 2px;
  border: none;
  background-color: black;

  vertical-align: middle;
  transition-duration: 0.4s;

  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
  color: rgb(240, 173, 4);
  font-family: "Indie Flower", cursive;
}
.commentinput button:hover {
  color: beige;
  cursor: grab;
}
.commentinput h2 {
  font-style: oblique;
  color: rgb(240, 173, 4);
  padding-left: 5px;
}
.cominput {
  width: 100%;
  background-position: 10px 10px;
  box-sizing: border-box;
  padding: 12px 20px 12px 40px;
  border-color: rgb(240, 173, 4);
  color: black;
}
.cominput:focus {
  border: 3px solid black;
}
.commentsbody {
  padding-bottom: 10px;
  background-color: black;
  max-width: 90%;
  align-self: center;
  border-radius: 30px;
  border-style: ridge;
  border-width: 5px;
  border-color: gold;
  padding-left: 2%;
  padding-right: 2%;
  margin: 10px;
}
.commentsbody p {
  color: gold;
}
.commentsbody h6 {
  font-style: oblique;
  font-family: "Comic Neue", cursive;
  color: beige;
}
.commentvotes {
  color: gold;
}
.commentvotes button {
  font-family: "Indie Flower", cursive;
  font-size: 16px;
  font-style: oblique;
  margin: 4px 2px;
  border: none;
  background-color: black;

  vertical-align: middle;
  transition-duration: 0.4s;

  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
  color: rgb(240, 173, 4);
}
.commentvotes button:hover {
  color: beige;
  cursor: grab;
}
.commentvotes label {
  font-family: "Comic Neue", cursive;
}
.delbtn {
  font-size: 16px;
  font-style: oblique;
  margin: 4px 2px;
  background-color: black;

  vertical-align: middle;
  transition-duration: 0.4s;

  padding-top: 10px;
  padding-bottom: 10px;
  border-color: gold;
  text-align: center;
  color: rgb(240, 173, 4);
  font-family: "Indie Flower", cursive;
  cursor: grab;
}
.delbtn:hover {
  border-color: black;
  color: black;
  background-color: rgb(240, 173, 4);
}
.artmain {
  display: grid;
  grid-template-areas: "art art";
  box-sizing: border-box;
}
.artmain .sortmain {
  padding-top: 10px;
  padding-left: 10px;
  font-style: oblique;
  font-weight: bold;
  background-color: #dae0e6;
  border-radius: 1fr;
  border-style: ridge;
  border-color: gold;
  margin: 10px;
  font-family: "Indie Flower", cursive;
}
.artmain .sortmain select {
  font-style: oblique;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
.artmain .sortmain select:hover {
  cursor: grab;
  background-color: black;
  color: gold;
}
.artmain .sortmain p {
  text-align: left;
}
.artmain .sortmain a {
  color: black;
  font-weight: lighter;
  text-align: left;
  text-decoration-color: skyblue(240, 173, 4);
}
.artmain .sortmain a:hover {
  cursor: grab;
  background-color: black;
  color: gold;
}
.sortmain button {
  font-family: "Indie Flower", cursive;
  color: black;
  font-weight: bold;
  border: none;
}
.sortmain button:hover {
  cursor: grab;
  background-color: black;
  color: gold;
}
.sortmain ul {
  font-family: "Comic Neue", cursive;
}
.artCard {
  grid: art;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(13, 37, 47);
  background-color: #dae0e6;
  font-style: oblique;
  padding: 5px 5px 5px 5px;
  border-radius: 1fr;
  border-style: ridge;
  border-color: gold;
  margin: 10px;
}
.artCard a {
  text-decoration: none;
}

.artCard p {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  padding-left: 15px;
}
.artCard ul {
  text-decoration: none;
  font-weight: lighter;
  color: black;
  font-family: "Comic Neue", cursive;
}
.artCard button {
  font-family: "Indie Flower", cursive;

  font-size: 16px;
  font-style: oblique;
  margin: 4px 2px;
  vertical-align: middle;
  transition-duration: 0.4s;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  text-align: center;
  color: black;
  cursor: grab;
  font-weight: bold;
}
.artCard button:hover {
  cursor: grab;
  background-color: black;
  color: gold;
}
.arth2 {
  padding: 10px;
  color: rgb(44, 105, 204);
  font-style: normal;
}
.arth2:hover {
  color: black;
}
.bodycard {
  background-color: #dae0e6;
  max-width: 90%;
  align-self: center;
  border-radius: 30px;
  border-style: ridge;
  border-width: 5px;
  border-color: gold;
  padding-left: 2%;
  padding-right: 2%;
  margin: 10px;
}
.bodycard h2 {
  font-style: oblique;
  color: rgb(44, 105, 204);
}
.bodycard h5 {
  font-style: oblique;
  font-weight: bold;
  color: gray;
  font-family: "Comic Neue", cursive;
}
.bodycard a {
  text-decoration-style: dotted;
}
.bodycard button {
  font-family: "Indie Flower", cursive;
  font-family: "Indie Flower", cursive;
  font-size: 16px;
  font-style: oblique;
  margin: 4px 2px;
  border: none;
  background-color: #dae0e6;
  transition-duration: 0.4s;
  color: black;
}

.bodycard button:hover {
  cursor: grab;
  color: skyblue;
}
.bodycard p {
  font-family: "Comic Neue", cursive;
}
.sect-comments {
  max-width: 90%;
  align-self: center;
}
@media (max-width: 425px) {
  .titleheader {
    float: none;
    display: Block;
    font-size: 50%;
  }
  .nav {
    display: grid;
    position: relative;
    font-size: 50%;
  }
  .nav button {
    font-size: 50%;
    position: relative;
  }
  .nav label {
    font-size: 100%;
    position: relative;
  }

  .usersMain {
    font-size: 80%;
    position: center;
  }
  .sign-io-btn {
    font-size: 80%;
    position: relative;
  }
  .createbtn {
    font-size: 80%;
    position: relative;
  }
  .crteurinput {
    font-size: 80%;
    position: relative;
  }
  .userdrop {
    font-size: 80%;
    position: relative;
  }
  .artmain {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
  .artCard {
    font-size: 80%;
  }
  .bodycard h2 {
    font-size: 90%;
    font-style: oblique;
  }
  .artvote button {
    font-size: 80%;
  }
  .commentinput h2 {
    font-size: 90%;
  }
  .commentinput button {
    font-size: 75%;
  }
  .commentvotes button {
    font-size: 75%;
  }
  .commentvotes {
    font-size: 80%;
  }
  .delbtn {
    font-size: 70%;
  }
}
